.popup__save-button_loading::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: 'Сохранение...';
    color:white;
    background-color: black;
}
